body{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: black;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

header{
  background-image: linear-gradient(
    180deg,
    rgba(51, 168, 219, 0.2) 0%,
    rgba(51, 168, 219, 0) 100%
  ),
  url('banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  background-size: 1010px auto;
}

.logo img{
  width: 170px;
  height: auto;
  margin-top: 50px;
}

.banner-content h1{
  font-family: 'Rakeway', sans-serif;
  font-size: 23px;
  font-weight: 701;
  background: linear-gradient(90deg, #33A8DB, #1472B7);  
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.banner-content p {
  width: 334px;
  height: 46px;
  margin: 0 auto;
  font-size: 13px;
}

div.linha-azul{
  width: 1,440px;
  height: 10px;
  opacity: 1;
  border-bottom: 1px solid #31A8DD;
}

.botao-inscrever {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;

  background: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
  -webkit-background-clip: text;
  color: transparent;

  border: 2px solid transparent;
  border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
  border-image-slice: 1;

  background-color: transparent;
  padding: 16px 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 35px;
}

#course-content h2{
  margin-top: 43px;
  color: #33A8DB;
}

#course-content p {
  width: 600px;
  height: 38px;
  margin: 0 auto;
  font-size: 12px;
} 

.modules-list {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  margin-top: 10px;
}

div.module {
  width: 340px;
  background: #252525;
  border-radius: 20px;
  padding: 10px 15px;
  border: 1px solid #33A8DB;
  font-size: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.module span{
  color: #33A8DB;
}

div.module:last-child {
  margin-bottom: 80px;
}

#transform-world{
  position: relative;
  width: 1020px;
  height: 240px;
  background-color: #333;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

#transform-world img{
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

#transform-world p {
  width: 150px;
  position: absolute;
  color: white;
  font-weight: 900;
  font-size: 25px;
  left: 120px;
  line-height: 1.1;
  text-align: left;
  text-shadow: 2px 1px #33A8DB;
}

#profissional-challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px auto;
  width: 100%;
}

#profissional-challenges h2{
  color: #33A8DB;
  width: 600px;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  margin-top: 49px;
}

#profissional-challenges img{
  display: block;
  width: 440px;
  height: auto;
  margin-top: 3px;    
}

#profissional-challenges p{
  width: 500px;
  height: 46px;
  margin: 20px auto 30px auto ;
  font-size: 10px;
}

.dio-logo {
  margin-top: 35px;
  width: 200px;
  height: auto;
}

footer.final {
  background: linear-gradient(
    180deg,
    rgba(51, 168, 219, 0) 20%,
    rgba(51, 168, 219, 0.2) 80%,
    rgba(51, 168, 219, 0.2) 90%
  );
  padding: 20px 0;
  text-align: center;
  color: white;
}


.final p {
  font-size: 10px;
}

.final a {
  color:#33A8DB;
}